
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Playwright
playwright-report/
test-results/

# Allure
allure-results/
allure-report/
